.footer {
    padding: 57px 0 76px 0;
    background-image: url('../img/footer/back.svg');
    background-size: cover;
    background-position: center;
    &__container {
    }
    &__title {
        margin: 0 0 111px 0;
    }
    &__items {
        padding: 0 530px 46px 0 ;
        display: flex;
        justify-content: space-between;
    }
    &__column {
        display: block;
    }
    &__item-link {
        font-family: 'BasisGrotesquePro';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 100%;
        margin: 0 0 28px 0;
    }
    &__information {
        display: flex;
        font-family: 'BasisGrotesquePro';
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 24px;
    }
    &__copyrate {
        margin: 0 10px 0 0;
        span:before{
            content: "\00A9";
            margin: 0 5px 0 0;
        }
    }
    &__privacy-police {
        margin: 0 5px 0 0;
    }
    &__pointer {
    }
}