@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/Roboto/Roboto-Regular.ttf") format("truetype");
    src: url("../fonts/Roboto/Roboto-Regular.woff2") format("woff2"), 
    url("../fonts/Roboto/Roboto-Regular.woff") format("woff");
}
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    src: url("../fonts/Roboto/Roboto-Medium.ttf") format("truetype");
    src: url("../fonts/Roboto/Roboto-Medium.woff2") format("woff2"), 
    url("../fonts/Roboto/Roboto-Medium.woff") format("woff");
    
}
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    src: url("../fonts/Roboto/Roboto-Bold.ttf") format("truetype");
    src: url("../fonts/Roboto/Roboto-Bold.woff2") format("woff2"), 
    url("../fonts/Roboto/Roboto-Bold.woff") format("woff");
}
@font-face {
    font-family: 'Ogg';
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/Ogg Roman/Ogg-Roman.ttf") format("truetype");
    src: url("../fonts/Ogg Roman/Ogg-Roman.woff2") format("woff2"), 
    url("../fonts/Ogg Roman/Ogg-Roman.woff") format("woff");
}
@font-face {
    font-family: 'BasisGrotesquePro';
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/Basis Grotesque Pro/BasisGrotesquePro-Regular.ttf") format("truetype");
    src: url("../fonts/Basis Grotesque Pro/BasisGrotesquePro-Regular.woff2") format("woff2"), 
    url("../fonts/Basis Grotesque Pro/BasisGrotesquePro-Regular.woff") format("woff");
}
@font-face {
    font-family: 'BasisGrotesquePro';
    font-style: normal;
    font-weight: 500;
    src: url("../fonts/Basis Grotesque Pro/BasisGrotesquePro-Medium.ttf") format("truetype");
    src: url("../fonts/Basis Grotesque Pro/BasisGrotesquePro-Medium.woff2") format("woff2"), 
    url("../fonts/Basis Grotesque Pro/BasisGrotesquePro-Medium.woff") format("woff");
}
